<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
  <nav>
    <ul class="flex-container center">
      <li class="flex-item">CC Pizza Company</li>
      <li class="flex-item" ><a href="/pizzas">All Pizza Orders</a></li>
      <li class="flex-item" ><a href="/pizzas/new">Place a New Order</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>